

/* Estilo para las secciones de la página */


/* Estilo para los formularios */
form {
    display: flex;
    flex-direction: column;
}



/* Estilo para los botones */
button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

/* Estilo para los mensajes de error en los formularios */
.error {
    color: #ff0000;
    margin-top: 5px;
}

#txtComment{
    resize:none;
}

h2{
    color:White;
}